<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-about {% if page.current == 'chat' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}chat">Chat</a></li>
        <li class="nav-fables {% if page.url contains 'fame' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/fame">Hall of Fame</a></li>
        <li class="nav-fables {% if page.url contains 'material' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/material">Material</a></li>
        <li class="nav-fables {% if page.url contains 'blog' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/blog">Blog</a></li>
        <li class="nav-author {% if page.url contains 'padfoot7' %} nav-current{% endif %}"  role="presentation"><a href="{{ site.baseurl }}author/padfoot7">Padfoot7</a></li>

    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>